.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container {
  height: 1080px;
  width: 1080px;
  background-color: grey;
  display: flex;
  justify-content: center;
}
